
body{
    display:flex;
    flex-direction: column;
    background-color: burlywood;
}   
.main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

.article{
    flex: 2;
    overflow-y: auto

}
.article{
    overflow-y: auto;
    flex: 1;
}
